.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

.infoBox--selected {
  border-top: 10px solid lightgreen;
}

.infoBox__cases--selected {
  color: lightgreen !important;
}

.infoBox--red {
  border-color: red;
  color: red !important;
}
.infoBox--orange {
  border-color: orangered;
  color: orangered !important;
}

@media (max-width: 990px) {
  .infoBox {
    display: flex;
  }
  .infoBox__cases {
    font-size: 20px;
  }
}
