* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.app__header > h1 {
  color: #ff2f2f;
  font-size: 2rem;
}

.app__dropdown {
  background-color: white;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graphTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}
.app__graph {
  flex-grow: 1;
}

/* .app__right h3 {
  margin-bottom: 20px;
} */

.app__status {
  display: flex;
  justify-content: space-between;
}

.line__graph {
  margin-top: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__dropdown {
    width: 200px;
  }

  .app__right {
    margin-top: 10px;
  }

  .app__graphTitle {
    margin-top: 16px;
  }
}
